<!DOCTYPE html>
<html>
	<head>
		<meta chartset="utf-8">
		<title>Index | Simpler </title>
	</head>
	<body>
		<h1>Simpler framewrk</h1>
    <ul>
    <% @tests.each do |test| %>
      <li><%= test.title %></li>
    <% end %>
    </ul>
	</body>
</html>
